body {
  margin: 0 10%;
  // background-size: 700px 900px;
  // background-position: center 30%;
}
.card {
  max-width: 24%;
}

/***** LIGHTBOX *****/
.lightbox-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  // flex-wrap: wrap;
}
.lightbox-row > a {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.lb-img {
  height: 300px;
  // max-width: 100%;
}

/***** FOOTER *****/
