body {
  //   font-family: "Permanent Marker", cursive;
  //   font-family: "Playpen Sans", cursive;
  background-color: #222222;
  margin: 0 5%;
  font-size: x-large;
  color: #919191;
}

.logo {
  width: 150px;
}

/***** NAVIGATION *****/
// mobile styling
button#hamburgerBtn {
  background: none;
  border: none;
  color: #dfdfdf;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 0 30px 0 2vw;
  float: right;
}

nav {
  //   background-color: $primaryColor;
  //   width: 100%;
  //   border: 1px;
  // font-family: "Playpen Sans", cursive;
  font-family: "Nova Square", sans-serif;
  font-weight: bold;
}

nav ul {
  margin: 0;
  padding: 0;
  float: right;
  width: 100%;
}

nav li {
  list-style-type: none;
}

nav a {
  display: block;
  padding: 0.8rem 0;
  color: #c45322;
  text-align: right;
  text-decoration: none;
}

nav li.active {
  //   background-color: rgb(0, 0, 0);
  // font-size: 125%;
  text-decoration: underline;
}

nav a:hover {
  //   background-color: rgb(201, 201, 201);
  font-size: x-large;
}

nav ul.open {
  display: block;
}

nav ul {
  display: none;
}

/***** MAIN *****/
main {
  // font-family: "Permanent Marker", cursive;
  font-family: "Nova Square", sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../img/fingerprintbw.png");
  background-repeat: no-repeat;
  background-size: 500px 700px;
  background-position: center center;
}

/***** BACK TO TOP *****/
#backToTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-style: dotted;
  border-color: #8f0000;
  outline: none; /* Remove outline */
  // background-color: red; /* Set a background color */
  // color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  transition: transform 0.2s;
}

#backToTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  transform: scale(1.2);
}
.back-to-top {
  height: 30px;
}

/***** FOOTER *****/
footer {
  font-family: "Permanent Marker", cursive;
  font-size: large;
}

.footer-main {
  padding: 15px 0;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: column;
}
.footer-one,
.footer-two,
.footer-three {
  margin-bottom: 15px;
  text-align: center;
}
// .footer-three {
//   display: flex;
//   align-content: center;
// }
.socials {
  display: flex;
  justify-content: space-around;
}
.bottom-bar {
  font-size: x-small;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.bottom-bar-left {
  width: 70%;
}
.bottom-bar-right {
  text-align: right;
}
.social-icon {
  width: 50px;
}
.company {
  list-style-type: none;
  // font-size: small;
}
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.5);
}
